# IDEs
.idea/
.vscode/
.vs/
.cache/
compile_commands.json

# ISA Manuals & Notes
manul/

# Build output
out/
koshka

# Test binaries
*.nro
*.nso

# Archives for distribution/upload
*.zip
*.7z
*.rar
*.xz
*.gz

